.cover-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    background-color: #f0f0f0; /* Fallback color */
    overflow: hidden; /* Hide any overflow */
}

.cover-content img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Stretch the image to fill the container */
    object-position: center; /* Center the image */
}
