:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff; /* 使用白色文本 */
  background-color: #121212; /* 深色背景 */
}

.container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: 0.75s;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  color: #748ffc;
  text-decoration: none;
}

a:hover {
  color: #5a67d8;
}

h1 {
  margin: 0;
  padding: 0.5em;
  text-align: center;
  background-color: #1a202c; /* 深蓝色标题背景 */
  color: #cbd5e0; /* 淡蓝色标题文字 */
}

input, button {
  border-radius: 8px;
  border: none;
  padding: 0.8em 1.2em;
  font-size: 1em;
  color: #ffffff;
  background: linear-gradient(145deg, #6ee7b7, #3b82f6); /* 渐变背景 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(145deg, #3b82f6, #6ee7b7);
}

input:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #5a67d8;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242c37; /* 深灰色背景 */
}

.title {
  color: #10b981; /* 明亮的绿色 */
}

.content-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.input-upload-section, .charts-section {
  background-color: #2d3748; /* 界面左侧深灰背景 */
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.chart {
  background: linear-gradient(145deg, #1a202c, #2d3748);
  border-radius: 10px;
  color: #81e6d9; /* 水绿色文字 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  min-width: calc(50% - 10px);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e2e8f0;
    background-color: #1a202c;
  }

  a:hover {
    color: #63b3ed;
  }

  button:active {
    background-color: #2b6cb0;
  }
}
