.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}

html, body, #root, .app {
  height: 100%;
  margin: 0;
  font-family: 'Arial, sans-serif';
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f4f8; /* Light background color */
  box-sizing: border-box;
  justify-content: space-between;
}

.title {
  display: flex;
  color: #004d40;
  text-align: center;
  margin-bottom: 5px;
  flex: 0 0 auto;
  gap:20px
}
.header-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #004d40; /* 按钮背景颜色 */
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.header-buttons button:hover {
  background-color: #0056b3; /* 按钮悬停效果 */
}

.content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  flex: 1 1 auto;
  padding: 20px;
  box-sizing: border-box;
  gap:5px;
}

.input-upload-section {
  background-color: #ffffff; /* White background for input section */
  color: #004d40;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  /*flex: 0 0 10%; !* 将侧边栏宽度缩小到15% *!*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 12px; /* 调整侧边栏字体大小 */
  height: 100%;
}

.param-inputs label, .buttons, .file-input {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 在两端对齐内容 */
  margin-bottom: 5px; /* 添加一些间距 */
}

.param-inputs label input {
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  border: 1px solid #004d40;
  font-size: 12px; /* 调整输入框字体大小 */
}
.buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #00796b;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #004d40;
}
.cost-curve-button {
  margin-right: 10px;
  padding: 12px 25px;
  border-radius: 10px;
  border: 2px solid #4CAF50;  /* 绿色边框 */
  color: #4CAF50;  /* 绿色文字 */
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  transition: border-color 0.3s ease, color 0.3s ease;  /* 平滑的颜色过渡效果 */

  &:hover {
    border-color: #388E3C;  /* 鼠标悬停时边框颜色变深 */
    color: #388E3C;  /* 鼠标悬停时文字颜色变深 */
  }
}


.charts-section {
  display: flex;
  flex-wrap: wrap; /* 允许图表换行 */
  justify-content: space-between;
  gap: 3px;
  width: 80%;
  /*flex: 1 1 30%; !* 将图表区域宽度调整为85% *!*/
  height: 100%;
}

.chart {
  background-color: #ffffff; /* White background for charts */
  padding: 5px; /* 减少填充以节省空间 */
  border-radius: 10px;
  color: #004d40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(50% - 2px); /* 使每个图表占一半宽度，并留出间隙 */
  box-sizing: border-box;
  /*display: flex;*/
  flex-direction: column;
  min-width: calc(50% - 2px);
}

/*.echarts-container {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/



.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #004d40; /* 按钮的背景颜色 */
  color: white; /* 按钮文字颜色 */
  border: none;
  border-radius: 5px; /* 按钮的圆角 */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  transition: background-color 0.3s ease, transform 0.3s ease; /* 添加过渡效果 */
}

.back-button:hover {
  background-color: #0056b3; /* 悬停时的背景颜色 */
  transform: translateY(-2px); /* 悬停时的微妙上移效果 */
}

.back-button:active {
  transform: translateY(1px); /* 点击时的微妙下移效果 */
}